SERVER_PORT=8082

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=eventbooking
POSTGRES_PASSWORD=eventbooking
POSTGRES_DB=eventdb

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

EVENT_SERVICE_URL=http://localhost:8081

BOOKING_LOCK_TTL=1m
REDIS_QUOTA_TTL=24h
